html, body {
  min-height: 100vh;
}

.sidebar {
  background-color: #EFEFEF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.sidebar .btn-group-vertical {
  padding-top: 1.5rem;
  width: 100%;
}

.nav-options {
  padding: 1rem;
}

.profile-info {
  margin: 2rem;
}
