html, body {
  font-family: 'Roboto', sans-serif;
}

.home-jumbotron {
  background-image: url(../../images/redsky.JPG);
  background-size: cover;
  background-position: 0% 70%;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
