html, body {
  font-family: 'Roboto', sans-serif;
}


.jumbotron {
  /*background-image: url(../../images/redsky.JPG);*/
  background-size: cover;
  background-position: 0% 70%;
  /*color: white;*/
  margin-top: 2rem;
}
