.course-card {
  margin: 1rem;
}

.card-row {
  display: flex;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-col p {
  font-size: 1.75rem;
  margin-bottom: 0;
}

.location-col {
  display: flex;
  align-items: center;
}

.location-col p {
  margin-bottom: 0;
}
