.search-jumbotron {
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin: 0;
  background-color: #FFAF11;
}

.search-holder {
  display: flex;
  flex-direction: row;
}

.card-col {
  padding: 0;
}

.filter-col {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EFEFEF;
}

.filter-col h2 {
  align-self: flex-start;
}

.filter-container {
  width: 100%;
}

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
}

.post-card {
  margin: 1rem;
  width: 20rem;
  background-color: rgb(71, 91, 90);
}
