html {
  font-size: 16px;
}
body {
  min-height: 100vh;
}

.form-holder {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  background-color: #FFFCF3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #474744;
}

form h2 {
  color: black;
}

#date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#radio-group {
  font-size: 1.25em;
  margin: 0;
  padding-bottom: 1.5em;
}

.date-picker {
  font-size: 2em;
  text-align: center;
  border: 3px solid green;
}

.form-group {
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;

}

.label {
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 500;
  color: #474744;
}

/*Slider*/

.slider {
  width: 90%;
}

.rc-slider-track {
  background-color: green!important;
}

.rc-slider-handle, .rc-slider-dot {
  border-color: green!important;
}

.radio-inline {
  padding-left: 1em;
  padding-right: 1em;
}

.radio-inline input {
  background-color: black;
}
