.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 85%;
}

.react-datepicker__input-container {
  text-align: center;
}

.radio-group {
  margin-bottom: 0px;
}

.date-picker {
  font-size: 1.5em;
  text-align: center;
  border: 3px solid green;
  width: 75%;
}

.slider {
  width: 90%;
}

.rc-slider-track {
  background-color: green!important;
}

.rc-slider-handle, .rc-slider-dot {
  border-color: green!important;
}
